<html>
{% extends "layout_login.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}

{{ super() }}



{% endblock head %}

{% block content %}

    <div class="container">
      <!--<div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <img src="{{url_for('.static', filename='img/ajos.jpg')}}" class="img-fluid" alt="Responsive image">
        </div>
      </div> -->
      <div class = "row row-padding-top justify-content-md-center">
        <div class = "col-lg-5 col-md-6 col-sm-12 col-xs-12 align-self-center">
          <form class="form-signin" method="POST" action="/login">
            <h2 class="form-signin-heading title top-margin">Iniciar sesión</h2>

            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email,class_='form-control') }}
            {{ wtf.form_field(form.password,class_='form-control') }}
            <p style="color:black">¿Olvidaste tu contraseña?<a style="color:#46BC64" href="/reset">Restablecer</a></p>
            {% if invalid_email %}
             <p class="text-danger">El email no es válido, por favor inténtalo de nuevo, regístrate si aún no tienes cuenta</p>
            {% endif %}
            {% if invalid_pass %}
             <p class="text-danger">La contraseña no es válida, por favor inténtalo de nuevo, regístrate si aún no tienes cuenta</p>
            {% endif %}
            {% if link_expired %}
             <p class="text-danger">Tu link de validación ha expirado, por favor, regístrate de nuevo</p>
            {% endif %}
            <button class="btn btn-lg btn-block little-margin btn-style" type="submit">Entrar</button>
            <p> ¿No tienes cuenta? <a class ="inline-block" href= "/signup" style='color:#46BC64'>Regístrate</a></p>
          </form>
        {% if newpass %}
        <div class="alert alert-success" role="alert" style="margin-top: 10px; height: 50px;">
          Tu contraseña ha sido actualizada
        </div>
        {% endif %}
        </div>
      </div>


    </div> <!-- /container -->
{% endblock %}
